@import "normalize";
@import "bootstrap";
@import "boilerplate"; 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed:400,700);

/*****************MEEEEE*************************************************************/



img {
    width: 100%;
    margin: 10px 0;
    } 
    
    .nav {
  margin: 60px 0 45px 0;
  }

.sidebar {
  .col-sm-5 {
    padding: 0;
    margin: 0;
    } 
  }
  
.col-sm-5  {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  }
  
.blog-post {
  padding-bottom: 60px;
  margin-bottom: 30px; 
  border-bottom: 3px solid $light-grey-accent;  
  img {
    width: 100%;
    margin: 10px 0;
    }  
  
  }
  
.blog-post-meta {
  padding-top: 13px;
  float: right;
  color: $light-grey-accent;
  
  @media screen and (max-width: $screen-xs){
    float: none;  
    margin-bottom: 30px;
    }
  
  }
  
  
.blog-header {
  min-height: 50px;
  clear: both;  
  h3 {
    margin-top: 5px;
    padding: 0 0 15px 0;
    }  
  }
  
h1 {
  font-size: 60px;
  line-height: 1.2em;    
  }
  
h2 {
    float:left;
    margin: 0;
    padding: 0 0 15px 0;    
    @media screen and (max-width: $screen-xs){
      float: none; 
      padding: 0;
      }
    }
    
h4 {
  text-transform: uppercase;
  
  }



