/******************************************************************************/
/** CUSTOM VARIABLES **********************************************************/
/******************************************************************************/
/******************************************************************************/

$link-color: rgb(0, 157,255);
$light-grey-accent: #ccc;
$grey-text:#888;

$screen-lg: 960px;
$screen-md: 768px;
$screen-sm: 480px;
$screen-xs: 320px;
$under-screen-lg: 959px;
$under-screen-md: 767px;
$under-screen-sm: 479px;

$sans: Hel, Helvetica, Arial, sans-serif;
$serif: Arn, Georgia, serif;

$button-gradient: top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.05) 100%;
$button-color: rgba($link-color,1);

$border-radius: 6px;

