/******************************************************************************/
/** CUSTOM VARIABLES **********************************************************/
/******************************************************************************/
/******************************************************************************/

$link-color: rgb(0,157,255);
$link-color: rgb(22,66,255);
$link-color: rgb(0,115,189);

$spot-color:rgb(120,0,255);
$spot-color:rgb(49,52,171);

$light-grey-accent: rgb(245,245,245);
$grey-text:rgb(175,175,175);

$button-gradient: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($light-grey-accent, 0.9)), color-stop(100%,rgba($light-grey-accent, 1)));
$button-color: $light-grey-accent;
$button-color: $button-gradient;
$button-color-hover: $spot-color;
$button-color-active: $link-color;


$gradient: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(74,25,209)), color-stop(100%,rgb(7,127,255)));


$screen-lg: 960px;
$screen-md: 768px;
$screen-sm: 480px;
$screen-xs: 320px;
$under-screen-lg: 959px;
$under-screen-md: 767px;
$under-screen-sm: 479px;

$sans: Hel, Helvetica, Arial, sans-serif;
$serif: Arn, Georgia, serif;

$small-text: 13px;

$border-radius: 5px;

$rule: 8px solid #000;
$rule: 8px solid $light-grey-accent;

$padding: 8px;

$blue: rgb(2,111,195);

@-webkit-keyframes textcolormorph {
0%    {background: rgba($blue,0.8);}
20%   {background: rgba($blue,0.8);}
50%   {background: rgba(102,15,255,0.8);}
80%   {background: rgba($blue,0.8)}
100%  {background: rgba($blue,0.8);}
}


$animate-in: 1s ease 0.75s both;
$animate-out: 1s ease 0s both;
$animate-in-fast: 0.33s ease 1s both;


