/******************************************************************************/
/** CUSTOM VARIABLES **********************************************************/
/******************************************************************************/
/******************************************************************************/

$link-color: rgb(0,157,255);
$link-color: rgb(22,66,255);
$light-grey-accent: rgb(245,245,245);
$grey-text:rgb(175,175,175);
$spot-color:rgb(120,0,255);

$button-gradient: top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.05) 100%;
$button-color: $light-grey-accent;
$button-color-hover: $spot-color;
$button-color-active: $link-color;

$screen-lg: 960px;
$screen-md: 768px;
$screen-sm: 480px;
$screen-xs: 320px;
$under-screen-lg: 959px;
$under-screen-md: 767px;
$under-screen-sm: 479px;

$sans: Hel, Helvetica, Arial, sans-serif;
$serif: Arn, Georgia, serif;

$small-text: 13px;

$border-radius: 5px;

$rule: 8px solid $light-grey-accent;

