@import "custom_var"; 
@import "normalize";
@import "boilerplate"; 
@import "skeleton"; 

/*****************MEEEEE*************************************************************/

.container {margin: 0px auto;}

img {
    width: 100%;
    margin: 10px 0;
    } 
    
.nav {
  margin: 60px 0 45px 0;
  }




  
/* Component Styles ****************************/   

#gdmfa {
  height: 36px;
  width:100%;
  background-color: $light-grey-accent;
  p {
    font-size: $small-text;
    font-weight: 700;
    font-family: $sans; 
    color: #000;
    line-height: 24px;
    padding:6px 12px;
    }    
  a:hover { color: $link-color; }
  a:focus, a:active { color: $link-color; }
  a:visited { color: inherit; }
  } 

nav {	
	position: relative;
	width: 100%;
	margin-top:40px;
  border-bottom:$rule;
  margin-bottom: 40px;
  padding-bottom:5px;
	ul li {
  	margin-bottom:12px;
  	float:left;
  	margin-right:24px;
  	font-weight: bold;
  	button {
  		margin-top:-5px;float:right;
  		position: absolute;
  		right: 0;}
		}
		a { color:#000; }
		a:visited { color:#000; }
		a:hover { color:$link-color; }
		ul li a:active, ul li.active a:focus { color:$spot-color; }
		ul li.active a { color:$spot-color; }
  }
  
button {
  padding:6px 9px;
  margin-top: 30px;
  background-color: $button-color;
  border: 0;
  border-radius: $border-radius;
  -moz-border-radius:  $border-radius;
  -webkit-border-radius:  $border-radius;
  -o-border-radius:  $border-radius;
  
  a {
    font-size: $small-text;
    font-weight: 700;
    font-family: $sans;
    text-decoration: none;  
    color: $button-color-active;
    }
    
  a:visited {color: $button-color-active;}
  
  }
  
button.big {
  padding:12px 18px;
  margin-top: 30px;
  a { font-size: 17px; }
  }
  
  
button:focus { outline:0 !important; }
button:hover {
  background-color: $button-color-hover;
  a {color:#fff;}
  }
button:focus, button:active {
  background-color: $button-color-active;
  a {color:#fff;}
  }
  
.image-pile {
  img {
    float:left;
    margin-right:12px;
  }
  }
 
footer {
  margin:40px 0;
  border-top:$rule;
  padding-top:20px;
  .right { text-align: right } 
  svg {
    height: 36px;
    fill: $grey-text;
    margin-right: 5px;
    margin-top:-5px;
    }
  svg:hover { fill: $link-color; }
  svg:active, svg:focus { fill: $spot-color; }
  
  svg#twitter { width:36px; }
  svg#linkedin { width:32px; }
  svg#behance { width:38px; }
  svg#dribbble { width:26px; }
  svg#github { width:30px; }
  }
  
a.tooltip {
  position: relative;
  display: inline;
}
a.tooltip span {
  position: absolute;
  width:100px;
  color: $grey-text;
  /* background: $light-grey-accent; */
  height: 30px;
  line-height: 34px;
  text-align: center;
  visibility: hidden;
  /* border-radius: 6px; */
}
/*
a.tooltip span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #F2F2F2;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
*/
a:hover.tooltip span {
  visibility: visible;
  opacity: 0.8;
  /* top: 20px; */
  top: 5px;
  left: 50%;
  margin-left: -50px;
  z-index: 999;
}
  
/* Type Styles ****************************/ 

ul, ol { margin-bottom: 32px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
#page li { margin-bottom: 6px; }
#page li:first-child { margin-top: 6px; }
li p {}

body {
	font: 17.33px $serif;
	color: #000;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	line-height: 1.33em;
	letter-spacing: 0.01em;
  }

h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: $sans;
	font-weight: bold;
	letter-spacing:0.02em; }
	
	
h1 {
  font-size: 90px;
  line-height: 1.1em;
  letter-spacing: 0.015em;
  margin-top: 24px;
  } 
  
h3 {
  font-size: 32px;
  line-height: 1.1em;
  letter-spacing: 0.015em;
  font-style: italic;
  margin-top: 12px;
  margin-bottom: 24px;
  }  
  
p {
  margin-bottom: 9px;
  }
  
p.voice-one, p.voice-two {
  text-align: justify;
  }
  
p.voice-two {
  font-family: $sans;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.0125em;
  }
  
footer {
  font-family: $sans;
  font-weight: bold;
  font-size: $small-text;
  line-height: 1.5em;
  margin-bottom:100px;
  
  p,a { color: $grey-text; }
  a:visited { color: $grey-text; }
  a:hover { color: $link-color; }
  a:active, a:focus { color: $spot-color; }
  }
  
/* @Font-Face ****************************/

	@font-face {
	    font-family: 'Arn';
	    src: url('../type/Arnhem-Blond.eot');
	    src: url('../type/Arnhem-Blond.eot?#iefix') format('embedded-opentype'),
           url('../type/Arnhem-Blond.woff') format('woff'),
           url('../type/Arnhem-Blond.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal; }	    

	@font-face {
	    font-family: 'Arn';
	    src: url('../type/Arnhem-BlondItalic.eot');
	    src: url('../type/Arnhem-BlondItalic.eot?#iefix') format('embedded-opentype'),
           url('../type/Arnhem-BlondItalic.woff') format('woff'),
           url('../type/Arnhem-BlondItalic.ttf') format('truetype');
	    font-weight: normal;
	    font-style: italic; }	    

	@font-face {
	    font-family: 'Arn';
	    src: url('../type/Arnhem-Bold.eot');
	    src: url('../type/Arnhem-Bold.eot?#iefix') format('embedded-opentype'),
           url('../type/Arnhem-Bold.woff') format('woff'),
           url('../type/Arnhem-BlondItalic.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal; }    

	@font-face {
	    font-family: 'Arn';
	    src: url('../type/Arnhem-BoldItalic.eot');
	    src: url('../type/Arnhem-BoldItalic.eot?#iefix') format('embedded-opentype'),
           url('../type/Arnhem-BoldItalic.woff') format('woff'),
           url('../type/Arnhem-BoldItalic.ttf') format('truetype');
	    font-weight: bold;
	    font-style: italic; }	    

	@font-face {
	    font-family: 'Hel';
	    src: url('../type/HelveticaNeue-Roman.otf') format('truetype');
	    font-weight: normal;
	    font-style: normal; }
	    
	 @font-face {
	    font-family: 'Hel';
	    src: url('../type/HelveticaNeue-Italic.otf') format('truetype');
	    font-weight: normal;
	    font-style: italic; }
	    
	 @font-face {
	    font-family: 'Hel';
	    src: url('../type/HelveticaNeue-Bold.otf') format('truetype');
	    font-weight: bold;
	    font-style: normal; }
	    
	 @font-face {
	    font-family: 'Hel';
	    src: url('../type/HelveticaNeue-BoldItalic.otf') format('truetype');
	    font-weight: bold;
	    font-style: italic; }


	    
  
  /* #Media Queries ****************************/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: $under-screen-lg) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: $screen-md) and (max-width: $under-screen-lg) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: $under-screen-md) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: $screen-sm) and (max-width: $under-screen-md) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: $under-screen-sm) {}

